/* onegramGalleryDiashow */
.onegramGalleryDiashow .onegramGalleryImages {
	position: relative;
}

.onegramGalleryDiashow .prev,
.onegramGalleryDiashow .next {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	cursor: pointer;
}

.onegramGalleryDiashow .prev {
	left: 0;
}

.onegramGalleryDiashow .next {
	right: 0;
}

.images,
.image {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: #000;
}

.aspectRatio {
	padding-top: 42.5%; /* 16:9: 56.25 = 9 / 16 * 100 */
}

.onegramImageSingle,
.onegramImage {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.onegramGalleryDiashow .onegramImageSingle .onegramImage img,
.onegramGalleryDiashow .onegramImageSingle .tags,
.onegramGalleryDiashow .onegramImageSingle .onegramImageDeleteLink,
.onegramGalleryDiashow .onegramImageSingle .onegramImageDescription {
	opacity: 0;
	transition: opacity 2s linear;
}

.onegramGalleryDiashow .onegramImageSingle.active .onegramImage img,
.onegramGalleryDiashow .onegramImageSingle.active .tags,
.onegramGalleryDiashow .onegramImageSingle .onegramImageDeleteLink,
.onegramGalleryDiashow .onegramImageSingle.active .onegramImageDescription {
	opacity: 1;
}

.onegramGalleryDiashow .onegramImageSingle .onegramImageDeleteLink {
	display: none;
}

.onegramGalleryDiashow .onegramImageSingle.active .onegramImageDeleteLink {
	display: block;
}

.onegramImage img {
	width: auto;
	height: 100%;
}

.onegramGalleryDiashow .tags,
.onegramGalleryDiashow .onegramImageDescription {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	color: #999;
	background-color: rgba(10, 10, 10, 0.7);
}

.onegramGalleryDiashow .tags {
	top: 0;
	text-align: left;
	padding-left: 3px;
}

.onegramGalleryDiashow .onegramImageDescription {
	bottom: 0;
}

.onegramImageDeleteLink {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0 auto;
	color: #999;
	text-align: right;
	z-index: 9999;
	display: inline-block;
}

.onegramImageDeleteLink a:link,
.onegramImageDeleteLink a:active,
.onegramImageDeleteLink a:hover,
.onegramImageDeleteLink a:visited {
	color: #999;
}
/* /onegramGalleryDiashow */

/* onegramImageThumbnail */
.onegramImageThumbnail {
	display: inline-block;
	vertical-align: middle;
}
/* /onegramImageThumbnail */
